<div class="card my-3 mx-auto" style="width: 60rem;">
  <div class="card-body">
    <h1>Hello!</h1>
    <br/>
    <p class="fs-4">A clubhouse is most commonly known as a central building
     used for club activities. Depending on the type of apartment
     complex or neighborhood that you live in, the amenities offered
     by the association may be different. For example, one of the most
     common amenities that a complex's clubhouse offers is a gym.
     <br/><br/>
     In this clubhouse we want all the railers to come in and share
      tips, hacks, and any kind of information related to Rails.
     <br/><br/>
      Welcome!
    </p>
    <br/>
    <%= link_to 'Go To Posts', posts_path, class:"btn btn-success mb-5" %>
  </div>
</div>