<h1>Hello Member!</h1>
<br/>
<p>A clubhouse is most commonly known as a central building
 used for club activities. Depending on the type of apartment
 complex or neighborhood that you live in, the amenities offered
 by the association may be different. For example, one of the most
 common amenities that a complex's clubhouse offers is a gym.
</p>